@model IEnumerable<BootcampCapstone.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type.type1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.type1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logoPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventID })
        </td>
    </tr>
}

</table>
