@model BootcampCapstone.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.state)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phoneHome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneHome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phoneCell)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneCell)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phoneOffice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneOffice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.companyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.companyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.branchLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.branchLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Food.food1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Food.food1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.additionalInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.additionalInfo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
